# Logs
logs
*.log*

# tokens and configs
.env
credentials.json
token.json

# Dependency directories
node_modules/

# 'npm pack' tarball
*.tgz

# .DS_Store and other hidden files
.DS_Store
.AppleDouble
.LSOverride

# messageId file from restart.js
messageId
messageId.*

# compiled files
dist
