# Logs
logs
*.log*

# tokens and configs
.env
credentials.json
token.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# .DS_Store and other hidden files
.DS_Store
.AppleDouble
.LSOverride

# messageId file from restart.js
messageId
messageId.*

# compiled files
dist
